In [20]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

In [41]:
df = pd.read_excel(r'hackathon_data_round2.xlsx')

In [42]:
df.head()

,Financial_Year,Branch_Code,Sequence_1,Sequence_2,Donation_type,Donor_Age,Donation_Date,Gender,Blood_Group_Code,Donor_Weight,Donor_Temperature,Donor_Pulse,Donor_Hemoglobin,Donor_Blood_Pressure,Test_1,C1,Test_2,C2,Test_3,Test_4
0,14,BRC-01,345,1,R,24.0,01-JUL-13,M,5.0,56.0,37.0,72.0,13.0,120/80,0.121,N,0.224,N,R,N
1,14,BRC-01,346,2,R,33.0,01-JUL-13,M,3.0,75.0,37.0,72.0,13.0,120/80,0.122,N,0.222,N,N,N
2,14,BRC-01,347,3,R,28.0,01-JUL-13,M,5.0,65.0,37.0,72.0,13.0,120/80,0.123,N,0.221,N,N,N
3,14,BRC-01,348,4,R,20.0,01-JUL-13,M,3.0,65.0,37.0,72.0,13.0,120/80,0.123,N,0.242,N,N,N
4,14,BRC-01,349,5,T,22.0,01-JUL-13,M,7.0,75.0,37.0,72.0,13.0,120/80,0.124,N,0.243,N,N,N

In [43]:
df.isnull().sum()

Financial_Year              0
Branch_Code                 0
Sequence_1                  0
Sequence_2                  0
Donation_type               0
Donor_Age               16453
Donation_Date               0
Gender                     12
Blood_Group_Code          537
Donor_Weight            32825
Donor_Temperature       32828
Donor_Pulse             32827
Donor_Hemoglobin        32828
Donor_Blood_Pressure    32829
Test_1                   2561
C1                       2496
Test_2                   2644
C2                       2612
Test_3                    260
Test_4                    658
dtype: int64

In [46]:
df.columns

Index(['Financial_Year ', 'Branch_Code ', 'Sequence_1', 'Sequence_2',
       'Donation_type ', 'Donor_Age ', 'Donation_Date', 'Gender ',
       'Blood_Group_Code', 'Donor_Weight ', 'Donor_Temperature', 'Donor_Pulse',
       'Donor_Hemoglobin', 'Donor_Blood_Pressure', 'Test_1', 'C1', 'Test_2',
       'C2', 'Test_3', 'Test_4'],
      dtype='object')

In [47]:
df = df.set_index('Donation_Date')